.Alert {
  display: flex;
  padding: 2rem 2rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;

  &-variant {
    &--win {
      background: var(--successLight);
      color: var(--success);
    }
    &--lose {
      background: var(--errorLight);
      color: var(--error);
    }
  }
}
