.Numbers {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

@media (min-width: 560px) {
  .PlayPage {
      grid-template-columns: 2fr 400px;
  }
}